<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title th:text="#{page.announcementCreate}">Announcement Form</title>
</head>
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form role="form" method="post"
                  th:action="@{/announcements/new}"
                  th:object="${announcement}">
                <div class="form-row">

                    <!-- Title -->
                    <div class="form-group col-md-6">
                        <label for="title" th:text="#{announcementForm.title.label}">Title</label>
                        <input
                                type="text"
                                class="form-control"
                                id="title"
                                name="title"
                                th:field="*{title}"
                                th:placeholder="#{announcementForm.title.label}" />
                        <p th:if="${#fields.hasErrors('title')}"
                           class="text-danger"
                           th:errors="*{title}"></p>
                    </div>

                    <!-- PhotoUrl -->
                    <div class="form-group col-md-6">
                        <label for="photoUrl" th:text="#{announcementForm.photoUrl.label}">PhotoUrl</label>
                        <input
                                type="text"
                                class="form-control"
                                id="photoUrl"
                                name="photoUrl"
                                th:field="*{photoUrl}"
                                th:placeholder="#{announcementForm.photoUrl.label}" />
                        <p th:if="${#fields.hasErrors('photoUrl')}"
                           class="text-danger"
                           th:errors="*{photoUrl}"></p>
                    </div>

                </div>

                <!-- Content -->
                <div class="form-group mb-3">
                    <label for="content" th:text="#{announcementForm.content.label}">Content</label>
                    <input
                            type="text"
                            class="form-control"
                            id="content"
                            name="content"
                            th:field="*{content}"
                            th:placeholder="#{announcementForm.content.label}" />
                    <p th:if="${#fields.hasErrors('content')}"
                       class="text-danger"
                       th:errors="*{content}"></p>
                </div>

                <!-- Start Time -->
                <div class="form-group mb-3">
                    <label for="startTime" th:text="#{announcementForm.startTime.label}">Start Time</label>
                    <input
                            type="datetime-local"
                            class="form-control"
                            id="startTime"
                            name="startTime"
                            th:field="*{startTime}"
                            th:placeholder="#{announcementForm.startTime.label}" />
                    <p th:if="${#fields.hasErrors('startTime')}"
                       class="text-danger"
                       th:errors="*{startTime}"></p>
                </div>

                <!-- End Time -->
                <div class="form-group mb-3">
                    <label for="endTime" th:text="#{announcementForm.endTime.label}">End Time</label>
                    <input
                            type="datetime-local"
                            class="form-control"
                            id="endTime"
                            name="endTime"
                            th:field="*{endTime}"
                            th:placeholder="#{announcementForm.endTime.label}" />
                    <p th:if="${#fields.hasErrors('endTime')}"
                       class="text-danger"
                       th:errors="*{endTime}"></p>
                </div>

                <div class="form-group mb-3">
                    <label for="courseId" th:text="#{announcementForm.course.label}">Course</label>
                    <select
                            id="courseId"
                            class="form-control"
                            th:field="*{courseId}">
                        <option value="" th:text="#{announcementForm.course.selectPrompt}">-- select a course --</option>
                        <option th:each="c : ${courses}"
                                th:value="${c.id}"
                                th:text="${c.name}">
                        </option>
                    </select>
                    <p th:if="${#fields.hasErrors('courseId')}"
                       class="text-danger"
                       th:errors="*{courseId}"></p>
                </div>


                <!-- Submit -->
                <button type="submit"
                        class="btn btn-primary"
                        th:text="#{announcementForm.submitButton}">
                    Create
                </button>
            </form>
        </div>
    </section>
</main>
</body>
</html>
