<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title th:text="#{page.eventDetail}">Event Detail</title>
</head>
<body class="d-flex flex-column">
<section layout:fragment="body">
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1 class="fw-bolder" th:text="${event.name}">Event Name</h1>
                <p class="lead mb-0" th:text="#{eventDetail.location}">Sofia, Bulgaria</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <a href="#!">
                        <img
                                class="card-img-top"
                                th:src="${event.photoUrl}"
                                th:alt="#{eventList.eventPhotoAlt}" />
                    </a>
                    <div class="card-body">
                        <div class="small text-muted" th:text="${event.createdOn}">
                            <!-- e.g. “June 1, 2025” -->
                        </div>
                        <dl class="row mb-0">
                            <dt class="col-sm-4" th:text="#{announcementDetail.startsPrefix}">Starts:</dt>
                            <dd class="col-sm-8"
                                th:text="${#temporals.format(event.startTime, 'MMM d, yyyy h:mma')}">
                                May 12, 2025 5:45pm
                            </dd>

                            <dt class="col-sm-4" th:text="#{announcementDetail.endsPrefix}">Ends:</dt>
                            <dd class="col-sm-8"
                                th:text="${#temporals.format(event.endTime, 'MMM d, yyyy h:mma')}">
                                May 12, 2025 7:00pm
                            </dd>
                        </dl>
                        <h2 class="card-title" th:text="#{eventDetail.aboutHeader}">
                            About this Event
                        </h2>
                        <p class="card-text" th:text="${event.type}">
                        </p>
                        <div th:if="${user.id} == ${event.club.createdBy.id}">
                            <a
                                    class="btn btn-primary"
                                    th:href="@{/events/{eventId}/delete(eventId=${event.id})}"
                                    th:text="#{eventDetail.deleteButton}">
                                Delete
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header" th:text="#{sidebar.eventsAboutTitle}">
                        About Our Events
                    </div>
                    <div class="card-body" th:text="#{sidebar.eventsAboutText}">
                        <!-- Long sidebar text pulled from messages -->
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
</body>
</html>
