<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}">
<head>
    <title th:text="#{login.title}">Login</title>
</head>
<section layout:fragment="body">
    <div class="container" style="min-height: 80vh;">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-6 col-sm-12">
                <!-- If Spring Security passed an error parameter -->
                <div th:if="${param.error}" class="alert alert-danger"
                     th:text="#{login.error}">Invalid username or password.</div>
                <!-- If Spring Security passed a logout parameter -->
                <div th:if="${param.logout}" class="alert alert-success"
                     th:text="#{login.loggedOut}">You have been logged out.</div>
                <div class="login-form">
                    <form method="post" th:action="@{/login}" role="form">
                        <div class="form-group">
                            <label th:for="username" th:text="#{login.username.label}">Username</label>
                            <input id="username"
                                   name="username"
                                   type="text"
                                   class="form-control"
                                   th:placeholder="#{login.username.placeholder}" />
                        </div>

                        <div class="form-group">
                            <label th:for="password" th:text="#{login.password.label}">Password</label>
                            <input id="password"
                                   name="password"
                                   type="password"
                                   class="form-control"
                                   th:placeholder="#{login.password.placeholder}" />
                        </div>

                        <button type="submit" class="btn btn-secondary"
                                th:text="#{login.button}">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</html>
